body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #faf9f9;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #c3c6d8;
}
